 body {
        font-family: didot;
        color: #6b7d62;
        background-color: #8C9B84;
        margin: 0;
        margin-bottom: -50px;
    }

    .socials {
        padding: 5px;
        text-align: right;
        margin-top: -140px;
        margin-right: 20px;
        margin-bottom: -2px;
    }


    #foo img[src="https://i.ibb.co/jVWK1k0/fb.png"]:hover {
        opacity: 0.8;
    }

    #foo img[src="https://i.ibb.co/YRKqFdp/insta.png"]:hover {
        opacity: 0.8;
    }

    #foo img[src="https://i.ibb.co/WkP9V7c/twt.png"]:hover {
        opacity: 0.8;
    }

    #foo img[src="https://i.ibb.co/JFHgxJ4/yt.png"]:hover {
        opacity: 0.8;
    }

    .image1 {
    margin-top: -60px;
    transition: transform .7s ease-in-out; 
    }
        .image1:hover {
            transform: rotate(360deg);
          }

    header {
        background-color: #fff;
        font-weight: bold;
        padding: 20px 0px;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0 20px;
    }

    nav ul {
        list-style-type: none;
        margin-bottom: -2px;
        margin-top: 20px;
        left: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
        position: relative;
    }

    nav ul li:last-child {
        margin-right: 0;
    }

    nav ul li a {
        text-decoration: none;
        color: #8C9B84;
        font-size: 18px;
    }

    nav ul li a:hover {
        color: #605958;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0 8px 16px #f3baba1a;
        z-index: 1000;
        left: 50%; /* Center horizontally */
        transform: translateX(-50%);
    }

    .dropdown-content a {
        color: #8C9B84;
        padding: 12px 16px;
        display: block;
        text-decoration: none;
        text-align: center;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    * {
        box-sizing: border-box;
      }
    
      
      .content {
        position: fixed;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        padding: 20px;
      }
      
      #myBtn {
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
      }
      
      #myBtn:hover {
        background: #ddd;
        color: black;
      }

      @import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900);
      * {
        box-sizing: border-box;
      }
      
      nav a {
          color: inherit;
          padding: 0 12px;
          text-decoration: none;
      }
      
      .centered {
        position: absolute;
        transform: translate(-50%, -50%);
        background-color: #ffffff44;
        padding: 40px;
        margin-left: 200px;
        margin-top: 250px;
      }
    
      .custom-button {
        border-radius: 7px;
        width: 100px;
        height: 40px;
        border: none;
        background-color: #8C9B84; /* Green background */
        color: #fff; /* White text */
        font-family: didot;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
      }
    
      .custom-button:hover {
        background-color: #fff; /* White background */
        color: #8C9B84; /* Green text */
      }
    
      .hello {
        background-size: cover;
        position: fixed;
        margin-left: -20px;
      }

      .card {
        border-radius: 8px;
        padding: 40px;
        backdrop-filter: blur(10px);
        background-color: rgba(255,255, 255, 0.5);
        box-shadow: 0 1px 12px rgba(0, 0, 0, 0.251);
        border: 1 px solid rgba(255, 255, 255, 0.3)
    
      }
